@import '~antd/dist/antd.css';

.logiInBackground {
  background-color: rgb(8, 19, 56);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-message {
  margin: 0 0 8px 0px;
}

.nav-bars {
  /* background-color: #eeee; */
  z-index: 5;

  display: flex;
  justify-content: space-between;

  padding: 0 40px;
  position: fixed;
  width: 100%;
  background-color: #ffff;
  /* height: 54px; */
}

.content-layoute {
  display: flex;
  padding-top: 49px;
}
.logo {
  display: flex;
  margin: 0 50px 0 0;
  align-items: center;
  padding-top: 10px;
}
.logo h4 {
  font-weight: bold;
  font-size: 18px;
}
.sidebar-margin {
  margin-left: 225px;
}
.container-layout {
  background-color: #efefef;
  min-height: calc(100vh - 49px);
  width: 100%;
}
.containers {
  margin: 10px;
  border-radius: 8px;
  background-color: #ffff;
  padding: 20px 40px;
}
.add-button {
  display: flex;
  justify-content: end;
}
.ant-menu-item a {
  text-decoration: none;
}
.table-data {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 8px 0 1px 0;
}
.table-data:hover {
  background-color: rgba(207, 204, 204, 0.507);
  cursor: pointer;
  color: black;
}
.bg-holiday {
  background-color: #dd4949;
  color: white;
}

.fill-bg {
  background-color: rgb(207, 183, 228);
}
/* ------------------------------------- */
h2,
h5,
.h2,
.h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #32325d;
}

h5,
.h5 {
  font-size: 0.8125rem;
}

@media (min-width: 992px) {
  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.bg-danger {
  background-color: #f5365c !important;
}

@media (min-width: 1200px) {
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

@media (min-width: 768px) {
  .pt-md-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
}

.font-weight-bold {
  font-weight: 600 !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #24a46d !important;
}

.text-warning {
  color: #fb6340 !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #fa3a0e !important;
}

.text-danger {
  color: #f5365c !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #ec0c38 !important;
}

.text-white {
  color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}

.text-muted {
  color: #8898aa !important;
}

figcaption,
main {
  display: block;
}

main {
  overflow: hidden;
}

.bg-yellow {
  background-color: #ffd600 !important;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon i {
  font-size: 2.25rem;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
